* {
    margin: 0;
    padding: 0;
}

.upload-container {
    display: block;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 150px;
}

.title {
    margin-bottom: 10px;
    font-size: 50px;
}

.title-sub {
    margin-bottom: 80px;
    font-size: 20px;
}

.thumb {
    display: block;
    width: 100%;
    margin-bottom: 25px;
}

.upload-form {
    width: 100%;
}

.upload-form .field {
    display: block;
    width: 100%;
    height: 50px;
    margin-bottom: 10px;
    text-align: center;
}

.btn {
    cursor: pointer;
}